@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        <header>
            <nav class="navbar">
                <ul class="nav-links">
                    <input type="checkbox" id="checkbox_toggle" />
                    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                    <div class="menu">
                        <li>
                            <a asp-controller="Book" asp-action="Index">Dashboard</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("librarian"))
                        {
                            <li>
                                <a asp-controller="Book" asp-action="BooksAdminPanel">Actions with Books</a>
                            </li>
                            <li>
                                <a asp-controller="Publisher" asp-action="PublisherAdminPanel">Actions with Publishers</a>
                            </li>
                            <li>
                                <a  asp-controller="User" asp-action="UserAdminPanel">Actions with Users</a>
                            </li>
                        }
                    </div>
                
                </ul>
                <form  method="post" asp-controller="Account" asp-action="LogOff">
                    <button class="logoff-button" type="submit">Logout</button>
                </form>
            </nav>
        </header>
    }
    <main role="main">
        @RenderBody()
    </main>
    <script>
       
    </script>
</body>
</html>
