@using BookStore.ViewModels
@model RegisterViewModel

<h1>Add new user to database.</h1>
<form method="post" asp-action="Create">
    <div>
        <input asp-for="FirstName" placeholder="FirstName" />
        <span asp-validation-for="FirstName"></span>

        <input asp-for="LastName" placeholder="LastName" />
        <span asp-validation-for="LastName"></span>

        <input asp-for="Email" placeholder="Email" />
        <span asp-validation-for="Email"></span>

        <input asp-for="Pesel" placeholder="Pesel" />
        <span asp-validation-for="Pesel"></span>

        <input asp-for="Password" placeholder="Password" type="password" />
        <span asp-validation-for="Password"></span>

        <input asp-for="City" placeholder="City" />
        <span asp-validation-for="City"></span>

        <input asp-for="PostalCode" placeholder="PostalCode" />
        <span asp-validation-for="PostalCode"></span>

        <input asp-for="Street" placeholder="Street" />
        <span asp-validation-for="Street"></span>

        <button type="submit">Create Account for user</button>
    </div>
</form>