@using BookStore.ViewModels
@model RegisterViewModel

<h1 class="input-h1">Add new user to the database.</h1>
<form class="input-form" method="post" asp-action="Create">
    <div>
        <section>
            <label for="FirstName">First Name:</label>
            <input asp-for="FirstName" placeholder="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </section>

        <section>
            <label for="LastName">Last Name:</label>
            <input asp-for="LastName" placeholder="LastName" />
            <span asp-validation-for="LastName"></span>
        </section>

        <section>
            <label for="Email">Email:</label>
            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </section>

        <section>
            <label for="Pesel">Pesel:</label>
            <input asp-for="Pesel" placeholder="Pesel" />
            <span asp-validation-for="Pesel"></span>
        </section>

        <section>
            <label for="Password">Password:</label>
            <input asp-for="Password" placeholder="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </section>

        <section>
            <label for="City">City:</label>
            <input asp-for="City" placeholder="City" />
            <span asp-validation-for="City"></span>
        </section>

        <section>
            <label for="PostalCode">Postal Code:</label>
            <input asp-for="PostalCode" placeholder="PostalCode" />
            <span asp-validation-for="PostalCode"></span>
        </section>

        <section>
            <label for="Street">Street:</label>
            <input asp-for="Street" placeholder="Street" />
            <span asp-validation-for="Street"></span>
        </section>

        <button class="button" type="submit">Create Account for User</button>
    </div>
</form>
