@using BookStore.ViewModels
@model EditUserViewModel

<h1 input-h1>Edit existing User.</h1>
<form class="input-form" method="post" asp-action="Edit">
    <div>
        <input type="hidden" asp-for="IdAddress" id="IdAddress" />
        <section>
            <label for="FirstName">First Name:</label>
            <input asp-for="FirstName" placeholder="First Name" />
            <span asp-validation-for="FirstName"></span>
        </section>

        <section>
            <label for="LastName">Last Name:</label>
            <input asp-for="LastName" placeholder="Last Name" />
            <span asp-validation-for="LastName"></span>
        </section>

        <section>
            <label for="Pesel">Pesel:</label>
            <input asp-for="Pesel" placeholder="Pesel" />
            <span asp-validation-for="Pesel"></span>
        </section>

        <section>
            <label for="Email">Email:</label>
            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </section>

        <section>
            <label for="Password">Password:</label>
            <input asp-for="Password" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </section>

        <section>
            <label for="City">City:</label>
            <input asp-for="City" placeholder="City" />
            <span asp-validation-for="City"></span>
        </section>

        <section>
            <label for="PostalCode">Postal Code:</label>
            <input asp-for="PostalCode" placeholder="Postal Code" />
            <span asp-validation-for="PostalCode"></span>
        </section>

        <section>
            <label for="Street">Street:</label>
            <input asp-for="Street" placeholder="Street" />
            <span asp-validation-for="Street"></span>
        </section>
        <button class="button" type="submit">Update User</button>
    </div>
</form>
