@model Book

@if (Model.NumberOfCopies > 0)
{
    <form asp-action="BorrowBookConfirm">
        <input type="hidden" asp-for="Id" />
        <label for="numberOfWantedCopies">Number of Copies:</label>
        <input type="number" name="numberOfWantedCopies" required min="1" />

        <input type="submit" value="Confirm" />
    </form>
}
else
{
    <p>Sorry, this book is not available now.</p>
}
