@using BookStore.Data.Enum;
@using BookStore.ViewModels
@model EditBookViewModel

<h1 class="input-h1">Edit existing book.</h1>
<form class="input-form" method="post" asp-action="Edit">
    <div>
        <input type="hidden" asp-for="IdPublisher" />
        <section>
            <label for="ISBN">ISBN:</label>
            <input asp-for="ISBN" placeholder="ISBN" />
            <span asp-validation-for="ISBN"></span>
        </section>

        <section>
            <label for="Title">Title:</label>
            <input asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title"></span>
        </section>

        <section>
            <label for="Description">Description:</label>
            <textarea asp-for="Description" type="text" placeholder="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </section>

        <section>
            <label for="NumberOfCopies">Number of Copies:</label>
            <input asp-for="NumberOfCopies" placeholder="NumberOfCopies" />
            <span asp-validation-for="NumberOfCopies"></span>
        </section>

        <section class="list">
            <label for="Language">Language:</label>
            <select asp-for="Language" asp-items="@Html.GetEnumSelectList<Languages>()">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="Language"></span>
        </section>


        <button class="button" type="submit">Update Book</button>
    </div>
</form>
