@using BookStore.ViewModels;
@model EditPublisherViewModel

<h1 class="input-h1" >Edit existing book.</h1>
<form class="input-form" method="post" asp-action="Edit">
    <div>
        <section>
            <label for="FirstName">First Name:</label>
            <input asp-for="FirstName" placeholder="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </section>

        <section>
            <label for="LastName">Last Name:</label>
            <input asp-for="LastName" placeholder="LastName" />
            <span asp-validation-for="LastName"></span>
        <section>

        </section>
            <label for="Biography">Biography:</label>
            <textarea asp-for="Biography" placeholder="Biography"></textarea>
            <span asp-validation-for="Biography"></span>
        </section>

        <section>
            <label for="DateOfBirth">Date of Birth:</label>
            <input asp-for="DateOfBirth" type="date" placeholder="DateOfBirth" />
            <span asp-validation-for="DateOfBirth"></span>
        </section>

        <button class="button" type="submit">Update Publisher</button>
    </div>
</form>
